doctype html
html(lang='en')
  head
    title Pug
    style
      include style.css
  body

    p Result:&nbsp;
      span.result
    div(style='display:flex')

      .current-modules(style='width: 200px;')
        p Trade modules
           each module in tradeModules
              p
                button(class=module.id)= module.name
        p Mining modules
           each module in miningModules
              p
                button(class=module.id)= module.name
        p Weapon modules
           each module in weaponModules
              p
                button(class=module.id)= module.name
        p Shield modules
           each module in shieldModules
              p
                button(class=module.id)= module.name
        p Support modules
           each module in supportModules
              p
                button(class=module.id)= module.name

      .target-modules
        p Trade modules
           each module in tradeModules
              p
                button(class=module.id)= module.name
        p Mining modules
           each module in miningModules
              p
                button(class=module.id)= module.name
        p Weapon modules
           each module in weaponModules
              p
                button(class=module.id)= module.name
        p Shield modules
           each module in shieldModules
              p
                button(class=module.id)= module.name
        p Support modules
           each module in supportModules
              p
                button(class=module.id)= module.name

    p(class=css) #{insertData}
  script
    include moduleData.js
  script
    include script.js
