extends ./layout.pug

mixin module(data)
  - var bg = "background-image: url('./modules/" + data.id + ".png')"
  div.modules-pack__item
    button.module(
      data-module-id=data.id,
      data-current-l=0,
      data-target-l=0,
    )= data.name
      span.module__icon(style=bg)

block title
  | Hades Star Module Calculator

block style
  link(type='text/css', rel='stylesheet', href='./style.css')

block script
  script(src='./script.js', defer)

block content
  header
    h1 Module calculator
  div.result
    h2 Result
      button.btn.btn--light.reset-btn Reset
    p.result-credit Credit:&nbsp;
      span.value
    p.result-duration Duration:&nbsp;
      span.value
    div.save-and-share
      h2 Save and share
      label
        input(type='checkbox', name='current').autosave--js
        | Autosave
      div
        button.btn.btn--ok.save-button--js Save modules
        button.btn.btn--ok.load-button--js Load modules
      label
        input.share-current--js(type='checkbox', name='current')
        | Share current modules
      label
        input.share-target--js(type='checkbox', name='target')
        | Share target modules
      a(target='_blank').share-modules-link.share-modules-link--js
  .modules
    h2 Trade modules
    section.modules-pack
      each moduleData in tradeModules
        +module(moduleData)

    h2 Mining modules
    section.modules-pack
      each moduleData  in miningModules
        +module(moduleData)

    h2 Weapon modules
    section.modules-pack
      each moduleData  in weaponModules
        +module(moduleData)

    h2 Shield modules
    section.modules-pack
      each moduleData  in shieldModules
        +module(moduleData)

    h2 Support modules
    section.modules-pack
      each moduleData  in supportModules
        +module(moduleData)
  .modal
    .modal-container
      .module-form
        .module-form__header
          span.module-form__icon
          h2.module-form__title -
        table.levels-table
          tbody
            tr
              th Current level
              th Target level
            each i in [0,1,2,3,4,5,6,7,8,9,10,11]
              tr(data-level=i)
                td
                  label
                    input(type='radio', name='from', value=i)
                    span!= i+'&nbsp;'
                td
                  label
                    input(type='radio', name='to', value=i)
                    span!= i+'&nbsp;'
        p.module-form__result Module result
          br
          span.module-form__result-val
        .module-form__buttons
          button.btn.btn--cancel Cancel
          button.btn.btn--ok Ok

append footer
  p.dev Module info by&nbsp;
    a(href='http://www.hadesstar.info/menu-en.html', target='_blank') hadesstar.info
